body{
    background: rgb(133, 212, 208);

}
  .row{
     display: flex;
    justify-content: space-between;
  }
.gallery.col{
    flex-basis: 20%;
   border-radius: 20%;
   

}
img{
    width: 250px;
    height: 250px;
}